<body class="main-bg">
  <div *ngIf="!loading" class="login-container text-c animated flipInX" style="align-items: center;">
    <div class="container-content">
      <img class="logo" src="../../../assets/img/iniciar.png" alt="">
      <h3 class="text-whitesmoke">Recuperar cuenta</h3>
      <p class="text-whitesmoke">Ingresa tu correo</p>
      <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()" class="margin-t">
        <div class="form-group mb-2">
          <input type="text" class="form-control" formControlName="email" placeholder="Correo" required="">
          <span *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched" class="badge error-label text-danger">El correo es requerido</span>
          <span *ngIf="recuperarUsuario.get('email')?.hasError('email') && recuperarUsuario.get('email')?.touched" class="badge error-label text-danger">El correo es invalido</span>
        </div>
        <div class="d-grid gap-2">
          <button [disabled]="recuperarUsuario.invalid" class="btn btn-primary mb-3" type="submit">Recuperar</button>
        </div>
        <a class="text-darkyellow" href="#" routerLink="/login"><small>Volver</small></a>
      </form>
      <p class="margin-t text-whitesmoke"><small> DMD & MDAG &copy; 2022</small> </p>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</body>
