<body class="main-bg">
  <div class="login-container text-c animated flipInX" style="align-items: center;">
    <div class="container-content">
      <img class="logo" src="../../../assets/img/iniciar.png" alt="">
      <h4 class="text-whitesmoke">Se ha enviado un correo de verificacion a su cuenta</h4>
      <div class="d-grid gap-2 mt-3">
        <button type="button" class="btn btn-primary mb-3" routerLink="/login">Volver</button>
      </div>
    </div>
    <!--<app-spinner *ngIf="loading"></app-spinner>-->
  </div>
</body>
